.parent_container{
border: 1px solid blue;
padding: 2%;

}

#welcome_text{
    text-align: center;
}
.child1,.child2{
    padding: 0.8%;
    font-size: 22px;
    font-weight: 700;
    text-transform:capitalize;
}
#select{
    font-size: 18px;
    font-weight: 500;
    padding: 0.2%;
    text-transform: capitalize;
    margin-left: 3.5%;
}
#input1{
    margin-left:3%;
}
#input{
    margin-left: 1%;
}
button{
  width: 70px;
  height: 35px;
  background-color: rgb(98, 31, 161);
 color: #fff;
 cursor: pointer;
 font-size: 18px;
 margin-left: 1%;
}
button:active{
    background-color: aliceblue;
}
.child3{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
/* media queries */
@media only screen and (max-width: 600px) {
    body {
     float: left;
/* background-color: red; */
    }
    .child1,.child2{
        font-size: 12px;
    }
    .child3{
        font-size: 12px;

    }
    .child3>div{
        font-size: 12px;
    }
   
  }